.container {
  width: 100%;
  max-width: 100%;
  scrollbar-color: #00000000 #00000000;
  overflow-x: scroll;
  position: relative;
}

.move {
  position: sticky;
  top: calc(50% - 1rem);
  border-radius: 50%;
  background-color: #00000068;
  border: 1px solid #cbcbcb;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  transition-duration: 300ms;
}

.move:hover{
  background-color: rgba(0, 0, 0, 0.66);
}

.move:disabled {
  background-color: #00000016;
  border: 1px solid #cbcbcb1c;
}

.chevron {
  width: 1rem;
  height: 1rem;
  color: white;
}

.left {
  left: 1rem;
}

.right {
  right: 1rem;
}

.container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.container::-webkit-scrollbar-track {
  border-radius: 10px;
}

.container ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: transparent;
}
