.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--primary-1);
  padding: 0.7rem 1rem;
  height: 4rem;
}

.user {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}

.online {
  color: #ffffff;
}

.navLink {
  color: #ffffff;
  width: 3rem;
}

.navLink > *:not(:first-child) {
  margin-top: 0.5rem;
}

.navLink > hr {
  background-color: #ffffff;
}

.icon {
  margin: auto;
}

.avatar {
}

.links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
