.container {
  border: none;
  background-color: #00000000;
  border-bottom: 1px solid lightgray;
  padding-block: 0.5rem;
  outline: none;
  border-bottom: 2px solid var(--primary-2);
  font-size: 1rem;

  transition: 300ms;
}

.container:focus {
  border-bottom: 2px solid var(--primary-1);
  background-color: #00000000;
}

/* https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/ */
.container:-webkit-autofill,
.container:autofill,
.container:-webkit-autofill:hover,
.container:-webkit-autofill:focus {
  -webkit-text-fill-color: #000000;
  -webkit-box-shadow: none;
  -webkit-box-shadow: 0 0 0px 1000px var(--primary-3) inset;
}
