.container {
  height: 100%;
  margin-top: auto;
  margin-bottom: 2.5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
  height: fit-content;
  position: sticky;
  overflow: scroll;
  max-height: 70%;
  padding: 1.25rem;
}

.container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.container::-webkit-scrollbar-track {
  border-radius: 10px;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: transparent;
}
