.container {
  height: 100%;
  margin-top: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
  height: 100%;
  position: sticky;
  overflow: scroll;
  max-height: 70%;
  padding: 1.25rem;
}

.container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.container::-webkit-scrollbar-track {
  border-radius: 10px;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: transparent;
}

.loadMore {
  background-color: var(--primary-4);
  border: 1px solid var(--primary-0);
  width: fit-content;
  padding: 0.6rem 0.8rem;
  margin-inline: auto;
  margin-bottom: auto;
  border-radius: 0.3rem;
  color: var(--primary-0);
  transition-duration: 300ms;
}

.loadMore:hover {
  background-color: var(--primary-3);
}
