.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

.master {
  background-color: aliceblue;
  border-right: 1px solid cadetblue;
}

.detail {
  background-color: var(--primary-4);
}
