.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
}

.avatar {
  grid-row: 1 / span 2;
  margin: auto;
}

.avatar img {
  width: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
