.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  height: fit-content;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #00000000;
  cursor: pointer;
  color: #000000;
  text-decoration: none;
  transition: 300ms;
  position: relative;
}

.container {
  border-bottom: 4px solid var(--primary-1);
}

.isTarget {
  background-color: var(--primary-1);
  color: #ffffff;
}

.avatar {
  grid-row: 1 / span 2;
  margin: auto;
  margin-right: 1rem;
}

.onlineIndicator {
  width: 0.7rem;
  aspect-ratio: 1/1;
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  background-color: var(--primary-0);
  border-radius: 50%;
}

/* For the window-like look */
.avatar img {
  width: 2.5rem;
}

.name {
  display: flex;
  flex-flow: row nowrap;
  white-space: nowrap;
}

.snippet {
  font-size: 0.8rem;
  max-width: 7ch;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
