.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
  margin-inline: auto;
}

.container input,
.container button {
  width: 100%;
}

.label {
  font-size: 0.9rem;
}

.spinner {
  margin-left: 1rem;
}
