.container {
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.video {
  width: 100%;
  aspect-ratio: 320/240;
  background-color: red;
}

.img {
}

.canvas {
}
