:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #242424;
  --primary-0: #2e3c5d;
  --primary-1: #47577b;
  --primary-2: #8e9cbc;
  --primary-3: lightblue;
  --primary-4: rgb(228, 241, 245);
  --secondary: #ffffff;
  --accent: #47577b;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}
