.container {
  border: 1px solid var(--primary-2);
  border-radius: 0.3rem;
  padding: 1rem;
  width: clamp(10rem, 70%, 23rem);
  background-color: var(--primary-3);
  height: fit-content;
}

.sender {
  margin-left: auto;
}

.receiver {
  background-color: var(--primary-1);
  border-color: #ffffff;
  color: #ffffff;
  margin-right: auto;
}

.files {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding-inline: 2rem;
}

.files hr {
  border: 1px solid var(--primary-2);
}

.files img {
  object-fit: contain;
  width: 13rem;
  border-radius: 0.4rem;
}

.fileWrapper {
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  color: #000000;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}
