.container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 90px;
    padding-inline: 2rem;
    font-family: 'Poppins', sans-serif;
    align-items: center;
}

.logo{
    color: rgb(87, 86, 85);
}

.navItemsWrapper {
    display: flex;
    padding: 1.25rem;
    margin-left: auto;
}

.navItemsWrapper > *:not(:first-child){
    margin-left: 2.5rem;
}
